@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Noto Sans Display', sans-serif;
  color: white;
}

body {
  background-color: #0C0C0D;
}


::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 3px solid #0C0C0D;
	background-color: rgb(23 23 23);
  transition-duration: 100ms;
}

::-webkit-scrollbar-thumb:hover {
  transition-duration: 100ms;
  background-color: rgb(88 28 135);
}